# Segmenting and Clustering Neighborhoods in Toronto

Downloading Dependencies

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans
 
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

Importing BeautifulSoup

In [2]:
from bs4 import BeautifulSoup

Import get function from requests. Assigning the address of the web page to a variable named url.
Requesting the server the content of the web page by using get(), and storing the serverâ€™s response in the variable response.

In [3]:
from requests import get
url= "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
response = get(url)
print(response.text[:500])

<!DOCTYPE html>
<html class="client-nojs" lang="en" dir="ltr">
<head>
<meta charset="UTF-8"/>
<title>List of postal codes of Canada: M - Wikipedia</title>
<script>document.documentElement.className = document.documentElement.className.replace( /(^|\s)client-nojs(\s|$)/, "$1client-js$2" );</script>
<script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":0,"wgPageName":"List_of_postal_codes_of_Canada:_M","w

Reading table from wiki page using BeautifulSoup

In [4]:
html_wiki_page= BeautifulSoup(response.text, 'html.parser')
type(html_wiki_page)
page_tables = html_wiki_page.find_all('table')
Toronto_FSAs_table=page_tables[0]

Creating Dataframe
- The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
.

In [5]:

n_columns=0
n_rows=0
column_names=[]

for row in Toronto_FSAs_table.find_all('tr'):
    td_tags=row.find_all('td')
    if len(td_tags)>0:
        n_rows+=1
        if n_columns == 0:
            n_columns=len(td_tags)
    
    th_tags=row.find_all('th')
    if len(th_tags) > 0 and len(column_names) == 0:
        for th in th_tags:
            column_names.append(th.get_text().rstrip())
            


Toronto_FSAs_df= pd.DataFrame(columns=column_names,index=range(0,n_rows))



row_marker=-1

for row in Toronto_FSAs_table.find_all('tr'):
    column_marker=0
    columns=row.find_all('td')
    for column in columns:
        Toronto_FSAs_df.loc[row_marker, column_names[column_marker]] = column.get_text().rstrip()
        column_marker+=1
    row_marker+=1
    
Toronto_FSAs_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned

In [6]:
Toronto_FSAs_df=Toronto_FSAs_df[Toronto_FSAs_df.Borough != 'Not assigned']
Toronto_FSAs_df.reset_index()
Toronto_FSAs_df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [7]:
Toronto_FSAs_df.loc[Toronto_FSAs_df['Neighbourhood']=='Not assigned', 'Neighbourhood']=Toronto_FSAs_df['Borough']
Toronto_FSAs_df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [8]:
Toronto_FSAs_df_grouped=Toronto_FSAs_df.groupby(['Postcode','Borough'],as_index=False)['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x)).to_frame(name='Neighbourhood').reset_index()

Toronto_FSAs_df_grouped.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [9]:
Toronto_FSAs_df_grouped.shape

(103, 3)